<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <ul>
        <li>
            <a href="/">home</a>
            <a href="/home/setsession">set session</a>
            <a href="/home/getsession">get session</a>
        </li>
    </ul>
@RenderBody()
</body>
</html>